<div class="navbar-wagon">
  <!-- Logo -->
  <div class="logo-name">
    <p>    </p>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs">
    <!-- Search form -->

    <ul class="list-inline navbar-wagon-item navbar-wagon-button btn"">
      <li><%= link_to t(".top_call_to_action", default: "HOME"), "#" %></li>
      <li></li>
     <li></li>
      <li><%= link_to t(".top_call_to_action", default: "CONCEPT"), "#recettes" %></li>
      <li></li>
     <li></li>
      <li><%= link_to t(".top_call_to_action", default: "SUPERBOLS"), "#superbols" %></li>
      <li></li>
     <li></li>
      <li><%= link_to t(".top_call_to_action", default: "EQUIPE"), "#equipe" %></li>
    </ul>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu list-inline">
        <li><%= link_to "HOME", "#" %></li>
        <li><%= link_to "CONCEPT", "#" %></li>
        <li><%= link_to "SUPERBOLS", "#" %></li>
        <li><%= link_to "EQUIPE", "#" %></li>
      </ul>
    </div>
  </div>
</div>
